<h1>Beigetragene Fragen</h1>

<table>
  <thead>
    <tr>
      <th>Frage</th>
      <th>Antwort 1</th>
      <th>Antwort 2</th>
      <th>Antwort 3</th>
      <th>Antwort 4</th>
      <th>richtige Antwort</th>
      <th>Schwierigkeitsgrad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer0 %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.correctAnswer %></td>
        <td><%= question.difficulty %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @questions %>
