<p id="notice"><%= notice %></p>

<p>
  <strong>Frage:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Antwort 1:</strong>
  <%= @question.answer0 %>
</p>

<p>
  <strong>Antwort 2:</strong>
  <%= @question.answer1 %>
</p>

<p>
  <strong>Antwort 3:</strong>
  <%= @question.answer2 %>
</p>

<p>
  <strong>Antwort 4:</strong>
  <%= @question.answer3 %>
</p>

<p>
  <strong>richtige Antwort:</strong>
  <%= @question.correctAnswer %>
</p>

<p>
  <strong>Schwierigkeitsgrad:</strong>
  <%= @question.difficulty %>
</p>