<h1>Neues Quiz</h1>

<%=form_tag do %>

  <%=hidden_field_tag("difficulty", "1") %>
  
<div class="row">
  <div class="large-6 columns">
    <%=label_tag "teammate", "Mitspieler" %>
    <%=select_tag("teammate", options_from_collection_for_select(User.all.pluck(:id, :username), :first, :last), include_blank: true) %>
  </div>
</div>

<div class="row">
  <div class="large-2 columns">
    <%=submit_tag "Quiz starten", class: "button" %>
  </div>
</div>

<% end %>
