<p id="notice"><%= notice %></p>

<p>
  <strong>Nutzername:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>erstellte Fragen:</strong>
  <%= @user.contributedQuestions %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
