<!DOCTYPE html>
<html>
  <head>
    <title>Rails1</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
	<li class="name">
	  <h1><a href="#"></a></h1>
	</li>
	 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
	<!-- Right Nav Section -->
	<% if logged_in? %>
	<ul class="right">
	  <li class="active"><%= link_to "Abmelden", logout_path, method: :delete %></li>
	</ul>

	<!-- Left Nav Section -->
	<ul class="left">
	  <li><%= link_to 'Quiz', new_quiz_path %></li>
	  <li><%= link_to 'Fragen', new_question_path %></li>
	  <li><%= link_to "Profil", current_user %></li>
	</ul>
	<% else %>
	<ul class="right">
	  <li class="active"><%= link_to "Anmelden", login_path, method: :get %></li>
	</ul>
	<% end %>
      </section>
    </nav>
    <div class="container row">
      <% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
	<div class="content large-12 columns">
	  <%= yield %>
	</div>
    </div>
  </body>
</html>
